@if (questions.error()) {
  <p role="alert">Fragen konnten nicht geladen werden.</p>
}

@if (questions.isLoading()) {
  <p aria-busy="true">Lade Fragen…</p>
}

<mat-card>
  @if (questions.hasValue()) {
    @if (question(); as q) {

        <mat-card-header>
          <mat-card-title>{{ q.questionText }}</mat-card-title>

          <mat-card-subtitle>
            Frage {{ questionIndex() }} von {{ questionsTotal() }}  | 
            {{ q.hint }} | {{ q.type  | questionTypeLabel}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          @switch (q.type) {
            @case ('sc') { <app-answer-sc [question]="q" [mode]="mode.mode()" /> }
            @case ('mc') { <app-answer-mc [question]="q" [mode]="mode.mode()" /> }
            @case ('fi') { <app-answer-fi [question]="q" [mode]="mode.mode()" /> }
            }
          </mat-card-content>
          }

          @else {
            <p role="alert">Frage wurde nicht gefunden.</p>
          }
      }
  </mat-card>

  <app-question-nav
    [questions]="questions.value()"
    [catalogId]="catalogId()"
    [questionId]="questionId()" />


